<form method="post">
    <div class="row mb-3">
        <label for="User" class="col-sm-2 col-form-label">User</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="user" name="user" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-3">
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
    </div>
    <div>
    <button type="submit" class="btn btn-primary row mb-3">Log in</button>
    </div>
    <div>
    <label for="register" class="col-sm-2 col-form-label">Don't have an user? Register here!</label>
    <a href="http://localhost:8080/register"><button type="button" class="btn btn-primary row mb-3" id="register">Register</button></a>
    </div>
</form>